/*
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
*/

/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #626262;
}
/*common end*/
/*header start*/

header{
 padding: 25px 0 ;
 /*border :1px solid black;*/


}
.wrapper{
	overflow: hidden;

	width: 90%;
	/*border:1px solid red;*/
	margin: 0 auto;

}
.logo{
	margin-top: 10px;
	float: left;
	width: 13%;
	/*border:1px solid green;*/
}
.logo img{
width: 100%;
}
.menu{float: right;
	width: 70%;
	/*border:1px solid red;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	margin: 0 50px;
    font-size: 16px;
    font-weight: 
    color:#626262;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 3px;
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
margin-right: 0;

}
.menu ul li a:hover {
	border-bottom: 1px solid #626262;
};
/*header end*/
/*banner start*/
.banner{}
.banner img{
width: 100%;

}

/*banner end*/
/*perfect start*/
.perfect{
	padding: 70px 0;
	/*border:1px solid red;*/
}
.wrapper2{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	/*border:1px solid green;*/
}
.p_content{}
.c_light{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 14px;
	color: #626262;
    text-transform: uppercase;

}
.c_h{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_p{
	margin: 0;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 25px;
}
.mt_35{
	margin-top: 35px;
}
/*perfect end*/
/*blog start*/
.blog{
    padding-top: 10px;
	padding-bottom: 70px ;
}
.single{
	margin-top: 60px;
	width: 47%;
	/*border:1px solid black;*/
	float: left;
}
.single:nth-child(even){
margin-left: 6%;

}
.single img{
	margin-bottom: 25px;
	width: 100%;
}

/*blog start*/
/*news start*/
.news{
	min-height: 400px;
	background-color: #dddddd;
}
/*news end*/
/*load start*/
.load{
	padding: 70px;
	text-align: center;
}

.load button{
	width: 160px;
	height: 60px;
	background-color: #fff;
	border:1px solid #626262;
	cursor: pointer;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	transition: .5s;
}

.load button:hover{
	color: white;
	background-color: #626262;
}
.load button:focus{
	outline: none;
}
/*load end*/

/*footer start*/
footer
{
	background-color:#f0f0f0;
	padding-top: 25px;
	padding-bottom: 30px;
}

.terms{
	width: 25%;
	/*border:1px solid red;*/
	float: left;
}
.terms ul{
	overflow: hidden;
	padding-left: 0;
}
.terms ul li{
	float: left;
	list-style: none;
}
.terms ul li a{
	text-decoration: none;
	display: block;
	padding: 0 15px;
	color: 000000;
}
.terms ul li:first-child a{
	padding-left: 0;
}
.social{
	f
	width: 30%;
	/*border:1px solid red;*/
	float: right;

}
.social ul{
	float: right;
}
.social ul li{
	float: left;
	list-style: none;
}
.social ul li a{
	text-decoration: none;
	display: block;
	padding: 0 15px;
}
.social ul li:last-child a{
	padding-right: 0;
}




/*footerend*/